<?php

namespace App\Entities;

use Panther\Entity\EntityController;
use Panther\Router\Router;

class <class_name> extends EntityController {

    public function routes(Router $router){	
        $router->get('/<route_name>', '<class_name>@index');
    }

    public function index(){	
        return $this->toJson([
        	'status' => true,
        	'message' => 'Hello from <class_name>!'
        ]);
    }

}